*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
button{
  width: 6rem;
  padding: .5rem 1rem;
  background-color: #1d90f4;
  border: 1px solid #1d90f4;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
h1, p{
  text-align: center;
  margin-block: 1rem;
}
p{
  margin-bottom: 1.5rem;
}
@media (hover:hover){
  button:hover{
    background-color: rgba(29, 144, 244, 0.9);
  }
}
.container{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  padding: .6rem;
}
.aceptado{
  position: absolute;
  left: 1rem;
  right: 1rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.respuestas{
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0 0 0 / 15%);
}
.container__buttons{
  display: flex;
  justify-content: space-around;
}
.hide{
  display: none;
}