*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
header, footer{
  width: 100%;
  background-color: #1d90f4;
  color: #fafafa;
  padding: 1rem;
}
footer{
  padding: .5rem;
  text-align: center;
  font-size: .85rem;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAFAFA;
}
.header__icon{
  font-size: 2rem;
}
.container__card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.link__card{
  width: 47.5%;
  color: #333;
  text-decoration: none;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .5rem .75rem;
  height: 8rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0 0 0 / 10%);
}
.card__icon{
  font-size: 2rem;
}
.icon__task{
  color: #5886ff;
}
.icon__travel{
  color: #fcba77;
}
.icon__movies{
  color: #dd6a5c;
}
.icon__photos{
  color: #58ca7c;
}
.card__title{
  font-size: 1rem;
}
.card__subtitle{
  font-size: .75rem;
}

